@font-face {
    font-family: 'Helvetica Now Display Regular';
    src: local('HelveticaNowDisplay-Regular'), url(./HelveticaNowDisplay-Regular.ttf) format('truetype');
}

*{
    margin: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 0 5vw 0 5vw;
    z-index: -1;
    height: 100vh;
}

.picture > img {
    width: 100%;
    height: auto;
}

.picture {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: auto;
    max-height: 460px;
    margin-top: 70px;
}

.text {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    margin: 20rem 0 0 0;
}

#name {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #878a8f;
    font-size: 1em;
    opacity: 0.2;
    z-index: 0;
}

#title {
    font-size: 2.125rem;
    line-height: 2.5rem;
    padding-top: 2px;
    padding-bottom: 3px;
    font-weight: 800;
}

#about {
    font-family: 'Helvetica Now Display Regular';
    font-size: 1.125rem;
    line-height: 1.5625rem;
    padding-top: 1px;
    padding-bottom: 4px;
    font-weight: 500;
    color: #878a8f;
    letter-spacing: 0.1px;
}
