*{
    margin: 0;
}

.intro {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 7rem 0 7rem;
    z-index: -1;
    height: 100vh;
}

.picture > img {
    width: 100%;
    height: auto;
}

.picture {
    width: 30%;
}

.text {
    display: flex;
    width: 70%;
    align-content: space-between;
    flex-direction: column;
    margin: 10rem 0 0 0;
}

#name {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 1em;
    opacity: 0.1;
    font-weight: 700;
    z-index: 3;
}

#title {
    font-size: 2.125rem;
    line-height: 2.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 800;
}

#about {
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding-top: 2px;
    padding-bottom: 3px;
    font-weight: 500;
    color: #878a8f;
    letter-spacing: normal;
}
