@font-face {
    font-family: 'Helvetica Now Display Medium';
    src: local('HelveticaNowDisplay-Medium'), url(./HelveticaNowDisplay-Medium.ttf) format('truetype');
}

.intro {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 7rem 0 7rem;
    z-index: -1;
}

.text {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    margin: 10rem 0 0 0;
}

#name {
    width: 100%;
    font-size: 1em;
    opacity: 0.1;
    z-index: 3;
}

#title {
    font-family: 'Helvetica Now Display Medium', Times, serif;
    font-size: 3em;
}