.footer {
    background-color: #dbd9d9;
    margin-top: 2rem;
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

#copyrights {
    font-size: small;
    font-family: 'Helvetica Now Display Regular';
    font-weight: 500;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    width: 130px;
    height: 25px;
}

.another{
    color: gray;
    font-size: 20px;
    transition: 0.3s;
}

.another:hover {
    color: black;
    font-size: 28px;
    transform: rotate(360deg);
}

.fa-linkedin{
    color: gray;
    font-size: 20px;
    transition: 0.3s;
}

.fa-linkedin:hover {
    color: #0077b5;
    font-size: 28px;
    transform: rotate(360deg);
}

.fa-facebook{
    color: gray;
    font-size: 20px;
    transition: 0.3s;
}

.fa-facebook:hover {
    color: #3b5998;
    font-size: 28px;
    transform: rotate(360deg);
}

.fa-twitter{
    color: gray;
    font-size: 20px;
    transition: 0.3s;
}

.fa-twitter:hover {
    color: #00acee;
    font-size: 28px;
    transform: rotate(360deg);
}